@font-face {
  font-family: "roboto-heavy";
  src: url("../font/Roboto-Black.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-bold";
  src: url("../font/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-medium";
  src: url("../font/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "roboto";
  src: url("../font/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-light";
  src: url("../font/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-thin";
  src: url("../font/Roboto-Thin.ttf") format("truetype");
}
h1, h2, h3, h4, h5, h6, p, a, li {
  font-family: roboto;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 100%;
}
body nav > p {
  font-family: roboto-heavy;
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0;
  text-decoration: none;
  background-color: #9B9B9B;
  padding: 10px;
  color: #EBEBEB;
  cursor: pointer;
}
body nav > p:hover {
  color: #9B9B9B;
  background-color: #EBEBEB;
}
body main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main.menu {
  background-color: black;
}

/*# sourceMappingURL=main.css.map */
