@use "sass:map"
@use "./var"

h1, h2, h3, h4, h5, h6, p, a, li
    font-family: roboto

body
    margin: 0
    display: flex
    justify-content: center
    align-items: center
    height: 500px
    width: 100%

    nav > p
        // display: none
        font-family: roboto-heavy
        position: fixed
        top: 0px
        left: 0px
        margin: 0
        text-decoration: none
        background-color: var.$grey
        padding: 10px
        color: var.$light-grey
        cursor: pointer

        &:hover
            color: var.$grey
            background-color: var.$light-grey

    main
        display: flex
        flex-direction: column
        align-items: center

        &.menu // Menu
            background-color: black



    // @media (max-width: map.get(var.$bp, 'tablet'))
    //     background-color: var.$light-grey


